
/*.pdfs {width=1500px; height=1000px}
h2 {width: 100%;}*/

/*.title {margin: 2px; width: 100%}*/

.content {margin: 5px; width: 100%; display: flex;
     flex-direction: row; flex-wrap: wrap;}

.post {flex: 20%; padding: 10px; margin: 5px; 
    background-color: #f3f3f3; inline-size: 100%;}

.btnCurtain {
  transform: rotate(90deg);
  position: absolute; /* Position them relative to the browser window */
  left: -14vw;
  bottom: 40vh; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 0px; /* 15px padding */
  width: 30vw; /* Set a specific width */
  height: 5vw;
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 25px 25px 0 0; /* Rounded corners on the top right and bottom right side */
  background-color: rgb(13, 14, 13); border-color: cyan; border-width: 3px;
  cursor: pointer;
}
.btnCurtain:hover {
  left: -12vw; /* On mouse-over, make the elements appear as they should */
}



.Hunter {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
                background-color:#00a36f79; padding: 10px; text-align: center;}

.hunt {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 100vw;
               background-color:#00a36f; padding: 10px; text-align: center;
               background-image: url("images/HunPics.png"); background-repeat: no-repeat; 
               background-size: cover; background-position: 50% 60%; 
               float: left;
               

     .btnH {color:rgb(244, 247, 244); font-size: 1em; width: max-content; overflow: hidden;
               background-color:#00a36f; float: center; cursor: pointer; width: 10vw;
              text-align: left;}

     .btnH2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; float: center; cursor: pointer; width: 10vw; overflow: hidden;
               text-align: left;}
     }
     .hunt btnH2:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
.Fighter {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
                background-color:#00a36f79; padding: 10px; text-align: center;}

.fig {color:black; font-size: 22px; margin-top: 5px;
                margin-left: 20px; background-color:lightgray
            ; padding: 10px; text-align: center; background-image: url("images/FigPics.png");
                background-repeat: no-repeat; background-size: cover;
                background-position: 50% 60%; cursor: pointer;

     .btnF {color:darkgrey; font-size: 1em; width: max-content;
               margin-left: 20px; background-color:rgba(189, 186, 186, 0.658); }
          
     .btnF2 {color: black; font-size: .8em; background-color: rgb(167, 166, 166);
               width: max-content; margin: 20px;}
     }

.Rogue {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
                background-color:#00a36f79; padding: 10px; text-align: center;}

.rog {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
                margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
                background-image: url("images/RogPics.png"); background-repeat: no-repeat; background-size: cover;
                background-position: 50% 60%;}
                    
     .btnR {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;}
                    
     .btnR2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}

.Dokour {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
            background-color:#00a36f79; padding: 10px; text-align: center;}

.dok {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
            margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
            background-image: url("images/DokPics.png"); background-repeat: no-repeat; background-size: cover;
            background-position: 50% 60%;}
                         
     .btnD {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;
               text-align: center; }
                         
     .btnD2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}
     

.Eolas {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.eol {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/EolPics.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;}
                              
     .btnE {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;
               text-align: center; }
                              
     .btnE2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}

.Strumos {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.str {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/StrPics.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;}
                              
     .btnS {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;}
                              
     .btnS2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}

.Sylvan {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.syl {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/SylPics.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;}
                                        
     .btnSy {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;}
                                        
     .btnSy2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}

.Orix {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.ori {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/OriPics.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;}
                                        
     .btnO {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;}
                                        
     .btnO2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}

.Tiro {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px; width: 80vw; height: 10vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.tir {color:rgb(244, 247, 244); font-size: 22px; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/TirPics.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;}
                         
     .btnT {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;
               text-align: center; }
                         
     .btnT2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}
     
.All {color:rgb(244, 247, 244); font-size: 3em; margin-top: 5px; width: 10vw; height: 5vh;
    background-color:#00a36f79; padding: 10px; text-align: center;}

.all {color:rgb(244, 247, 244); font-size: 4ex; margin-top: 5px;
        margin-left: 20px; background-color:#00a36f; padding: 10px; text-align: center;
        background-image: url("images/AllCard.png"); background-repeat: no-repeat; background-size: cover;
        background-position: 50% 60%;
                         
     .btnA {color:rgb(244, 247, 244); font-size: 1em; width: max-content;
               margin-left: 20px; background-color:#00a36f;
               text-align: center; }
                         
     .btnA2 {color: rgba(231, 241, 225, 0.877); font-size: .8em; background-color: rgb(3, 49, 3);
               width: max-content; margin: 20px;}
     }

 /* Curtain Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 5% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    
  }
  #skillgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-auto-rows: 32vh;
    padding: 1vw;
  }
  #one{
    grid-column:1;
    grid-row: 1;
    background-image: url("images/HunterCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #two{
    grid-column:1;
    grid-row: 2;
    background-image: url("images/FighterCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #three{
    grid-column:1;
    grid-row: 3;
    background-image: url("images/RogueCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #four{
    grid-column:2;
    grid-row: 1;
    background-image: url("images/SylvanCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #five{
    grid-column:2;
    grid-row: 2;
    background-image: url("images/StrumosCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #six{
    grid-column:2;
    grid-row: 3;
    background-image: url("images/DokourCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #seven{
    grid-column:3;
    grid-row: 1;
    background-image: url("images/EolasCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #eight{
    grid-column:3;
    grid-row: 2;
    background-image: url("images/TiroCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #nine{
    grid-column:3;
    grid-row: 3;
    background-image: url("images/OrixCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #ten{
    grid-column:4;
    grid-row: 1;
    background-image: url("images/AllCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  
  /* The navigation links inside the overlay */
  .overlay button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #81818133;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay button:hover, .overlay button:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 2px;
    right: 25px;
    font-size: 4em;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 500px) {
    .overlay button {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media (max-height: 400px) or (max-width: 250px) {
    #skillgrid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
      grid-auto-rows: 22vh;
      padding: 1vw;
    }
    .btnCurtain { height: 10vw}
  
    #one{
      grid-column:1;
      grid-row: 1;
      background-image: none;
    }
    #two{
      grid-column:1;
      grid-row: 2;
      background-image: none;
    }
    #three{
      grid-column:1;
      grid-row: 3;
      background-image: none;
    }
    #four{
      grid-column:2;
      grid-row: 1;
      background-image: none;
    }
    #five{
      grid-column:2;
      grid-row: 2;
      background-image: none;
    }
    #six{
      grid-column:2;
      grid-row: 3;
      background-image: none;
    }
    #seven{
      grid-column:3;
      grid-row: 1;
      background-image: none;
    }
    #eight{
      grid-column:3;
      grid-row: 2;
      background-image: none;
    }
    #nine{
      grid-column:3;
      grid-row: 3;
      background-image: none;
    }
    #ten{
      grid-column:4;
      grid-row: 1;
      background-image: none;
    }
    
  } 
              
              
     
                    
                    
          
          
